.cache/clangd/index/CheckPoint.cpp.00A5CAD45CEF8A8D.idx
.cache/clangd/index/CheckPoint.hpp.3B68445C567F39D7.idx
.cache/clangd/index/game.cpp.BB883393C3DFF650.idx
.cache/clangd/index/game.hpp.1C42A28DE07716ED.idx
.cache/clangd/index/main.cpp.9414D431CA90EB5F.idx
.cache/clangd/index/menu.cpp.66E77A5332E54B9A.idx
.cache/clangd/index/menu.hpp.1C4DA20C373FB286.idx
.cache/clangd/index/pod.cpp.C723B5CB24F75DFA.idx
.cache/clangd/index/pod.hpp.D241FEB859041A53.idx
.cache/clangd/index/utils.cpp.F25544ABBE71E61C.idx
.cache/clangd/index/utils.hpp.9D79B2B91D3D6553.idx
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/sfml-app
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-470660df089f86041610.json
build/.cmake/api/v1/reply/codemodel-v2-5782083c176321625c4f.json
build/.cmake/api/v1/reply/index-2022-05-27T13-12-13-0929.json
build/.cmake/api/v1/reply/target-sfml-app-Release-53e269e179ef8603c963.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/sfml-app.dir/build.make
build/CMakeFiles/sfml-app.dir/cmake_clean.cmake
build/CMakeFiles/sfml-app.dir/CXX.includecache
build/CMakeFiles/sfml-app.dir/depend.internal
build/CMakeFiles/sfml-app.dir/depend.make
build/CMakeFiles/sfml-app.dir/DependInfo.cmake
build/CMakeFiles/sfml-app.dir/flags.make
build/CMakeFiles/sfml-app.dir/link.txt
build/CMakeFiles/sfml-app.dir/progress.make
build/CMakeFiles/sfml-app.dir/src/CheckPoint.cpp.o
build/CMakeFiles/sfml-app.dir/src/game.cpp.o
build/CMakeFiles/sfml-app.dir/src/main.cpp.o
build/CMakeFiles/sfml-app.dir/src/menu.cpp.o
build/CMakeFiles/sfml-app.dir/src/pod.cpp.o
build/CMakeFiles/sfml-app.dir/src/utils.cpp.o
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.16.3/CMakeCCompiler.cmake
CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.16.3/CMakeSystem.cmake
CMakeFiles/3.16.3/CompilerIdC/a.out
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.16.3/CompilerIdCXX/a.out
CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/sfml-app.dir/build.make
CMakeFiles/sfml-app.dir/cmake_clean.cmake
CMakeFiles/sfml-app.dir/CXX.includecache
CMakeFiles/sfml-app.dir/depend.internal
CMakeFiles/sfml-app.dir/depend.make
CMakeFiles/sfml-app.dir/DependInfo.cmake
CMakeFiles/sfml-app.dir/flags.make
CMakeFiles/sfml-app.dir/link.txt
CMakeFiles/sfml-app.dir/progress.make
CMakeFiles/sfml-app.dir/src/CheckPoint.cpp.o
CMakeFiles/sfml-app.dir/src/game.cpp.o
CMakeFiles/sfml-app.dir/src/main.cpp.o
CMakeFiles/sfml-app.dir/src/menu.cpp.o
CMakeFiles/sfml-app.dir/src/pod.cpp.o
CMakeFiles/sfml-app.dir/src/utils.cpp.o
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile
sfml-app
